@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.shadow-btn {
	border-radius: 20px;
	background: #e0e0e0;
	box-shadow:
		10px 10px 20px #949494,
		-10px -10px 20px #ffffff;
}

.shadow-btn-click {
	border-radius: 20px;
	background: #e0e0e0;
	box-shadow:
		inset 10px 10px 20px #949494,
		inset -10px -10px 20px #ffffff;
}

.shadow-container {
	border-radius: 30px;
	background: #e0e0e0;
	box-shadow:
		inset 5px 5px 10px #898989,
		inset -5px -5px 10px #ffffff;
}

.shadow-input {
	border-radius: 30px;
	background: #e0e0e0;
	box-shadow:
		inset 5px 5px 10px #bebebe,
		inset -5px -5px 10px #ffffff;
}

.shadow-title {
	border-radius: 30px;
	background: #e0e0e0;
	box-shadow:
		inset 10px 10px 20px #bebebe,
		inset -10px -10px 20px #ffffff;
}
